@page "/OrderNew"
@inherits OrderNewBase
@using PetStore.Blazor.WASM.Client.Components;

<h3>OrderNew</h3>

<div class="main">

    <div>
        <BlazoredTypeahead SearchMethod="SearchStock"
                           @bind-Value="SelectedStock">
            <SelectedTemplate>
                @context.Name <i> Quantity: </i> @context.Quantity
            </SelectedTemplate>
            <ResultTemplate>
                <b>Name </b> @context.Name
                <p><i>Quantity</i> @context.Quantity</p>
            </ResultTemplate>
        </BlazoredTypeahead>

        <div class="form-inline">
            <input id="searchText"
                   class="form-control"
                   @bind="SearchText"
                   placeholder="Search...">

            <button class="btn btn-primary" @onclick="@Search_Click">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <div>
        <ul class="stock-cards">
            @if (SelectedStockItems != null)
            {
                @foreach (var item in SelectedStockItems)
                {
                    <li @onclick="@(() =>  ShowDialog(item))">
                        <div class="stock-info">
                            <span class="title">@item.Name</span>
                            Some description text can go here
                            <span class="quantity">@item.Quantity</span>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>

@if (ShowingDialog)
{
    <h1> hi </h1>
    @*<div class="dialog-container">
        <div class="dialog">*@
            <OrderNewDialog OrderItem="OrderItemsCreate"
                            OnCancel="CancelOrderItemDialog"
                            OnConfirm="ConfirmOrderItemDialog" />
        @*</div>
    </div>*@

   

}


