<h3>StockItemsCreate</h3>
@page "/StockDeliveryNew"
@inherits StockDeliveryNewBase
@using PetStore.Blazor.WASM.Client.Components;

@if (StockDeliveryList == null)
{
    <WaitLoading />
}
else
{
    <div class="alert @StatusClass">@Message</div>
    @if (!Saved)
    {
        <StockDeliveryNewTable StockDeliveryList="StockDeliveryList" />

        <EditForm Model="@StockDeliveryList" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />


            <div class="float-right">
                <button type="submit" class="btn btn-primary edit-btn">
                    Save
                    <i class="fas fa-save"></i>
                </button>
                <a class="btn btn-outline-primary" @onclick="@NavigateBack">Cancel</a>
            </div>
        </EditForm>
    }
    @if (Saved)
    {
        <a class="btn btn-outline-primary" @onclick="@NavigateBack">Back to error</a>
    }
}