@inherits StockDeliveryNewTableBase
<h3>StockDeliveryNewTable</h3>

<button class="btn btn-outline-primary" @onclick="@(() => ShowAddItem())">
    Add
    <i class="far fa-plus-square"></i>
</button>


<EditForm Model="@StockDelivery" OnValidSubmit="@HandleValidAdd">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in StockDeliveryList)
            {
                <StockDeliveryTableRow @key="item" 
                                       StockDelivery="item"  Delete_Callback="DeleteEvent" />
            }

            @if (AddNew)
            {
            <tr>

                @if (StockDelivery == null)
                {
                    <WaitLoading />
                }
                else
                {
                    <td>
                        <InputText id="employeeName"
                                   class="form-control"
                                   @bind-Value="@StockDelivery.Name"
                                   placeholder="Name of item">
                        </InputText>
                        <ValidationMessage For="@(() => StockDelivery.Name)" />
                    </td>

                    <td>
                        <InputNumber id="employeeAge"
                                     class="form-control"
                                     @bind-Value="@StockDelivery.Quantity"
                                     placeholder="Quantity of item">
                        </InputNumber>
                        <ValidationMessage For="@(() => StockDelivery.Quantity)" />
                    </td>
                    <td>
                            <button type="submit" class="btn btn-primary edit-btn">
                                Save
                                <i class="fas fa-save"></i>
                            </button>
                            <a class="btn btn-outline-primary" @onclick="@Cancel_Click">Cancel</a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</EditForm>