@inherits StockDeliveryTableRowAddBase

<tr>

    @if (StockDelivery == null)
    {
        <WaitLoading />
    }
    else
    {
        <td>
            <InputText id="employeeName"
                       class="form-control"
                       @bind-Value="@StockDelivery.Name"
                       placeholder="Name of item">
            </InputText>
            <ValidationMessage For="@(() => StockDelivery.Name)" />
        </td>

        <td>
            <InputNumber id="employeeAge"
                         class="form-control"
                         @bind-Value="@StockDelivery.Quantity"
                         placeholder="Quantity of item">
            </InputNumber>
            <ValidationMessage For="@(() => StockDelivery.Quantity)" />
        </td>

        <td>
            <button class="btn btn-primary edit-btn" @onclick="@Save_Click">
                Save
                <i class="fas fa-save"></i>
            </button>
            <button class="btn btn-outline-primary" @onclick="@Cancel_Click">
                Cancel
            </button>
        </td>
    }
</tr>