@inherits StockDeliveryNewTableBase
<h3>StockDeliveryNewTable</h3>

<button class="btn btn-outline-primary" @onclick="@(() => ShowAddItem())">
    Add
    <i class="far fa-plus-square"></i>
</button>

<EditForm Model="@StockDelivery">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in StockDeliveryList)
            {
                <StockDeliveryTableRow @key="item" StockDelivery="item" />
            }

            <tr style="display:@ModalDisplay">


                @if (StockDelivery == null)
                {
                    <WaitLoading />
                }
                else
                {

                    <td>
                        <InputText id="employeeName"
                                   class="form-control"
                                   @bind-Value="@StockDelivery.Name"
                                   placeholder="Name of item">
                        </InputText>

                    </td>

                    <td>
                        <InputNumber id="employeeName"
                                     class="form-control"
                                     @bind-Value="@StockDelivery.Quantity"
                                     placeholder="Name of item">
                        </InputNumber>

                    </td>
                    <td>C</td>
                }
            </tr>

            <tr style="display:@ModalDisplay">
                <td>
                    <ValidationMessage For="@(() => StockDelivery.Name)" />
                </td>
                <td>
                    <ValidationMessage For="@(() => StockDelivery.Quantity)" />
                </td>
                <td>C</td>
            </tr>

        </tbody>
    </table>
</EditForm>

<button @onclick="(() => ShowAdd = true)">Show</button>
<button @onclick="(() => ShowAdd = false)">Hide</button>


